PORT=4177
CLIENT_ORIGIN=http://127.0.0.1:5173
ADMIN_PASSPORT=shenchao
USER_PASSPORT=lhmktz
PASSPORT_TOKEN_TTL_HOURS=24
MAX_PERSONAL_ACCOUNTS=40
MAX_ACTIVE_IPS=20
ADMIN_PASSWORD=
ADMIN_TOKEN_SECRET=
ADMIN_TOKEN_TTL_HOURS=12
USER_TOKEN_TTL_DAYS=30
IEEE_API_KEY=
ELSEVIER_API_KEY=
PUBLIC_DATA_SOURCES=crossref,openalex
CROSSREF_MAILTO=
CRAWLER_ENABLED=true
CRAWLER_TIMEOUT_MS=12000
TRANSLATION_PROVIDER=auto
VOLCENGINE_ACCESS_KEY_ID=
VOLCENGINE_SECRET_ACCESS_KEY=
VOLCENGINE_REGION=cn-north-1
VOLCENGINE_SERVICE=translate
VOLCENGINE_TRANSLATE_ENDPOINT=https://translate.volcengineapi.com
VOLCENGINE_REQUEST_INTERVAL_MS=250
LIBRETRANSLATE_URL=https://libretranslate.com
LIBRETRANSLATE_API_KEY=
MYMEMORY_EMAIL=
BAIDU_TRANSLATE_APPID=
BAIDU_TRANSLATE_KEY=
BAIDU_TRANSLATE_REQUEST_INTERVAL_MS=125
REFRESH_CRON=0 8 * * *
LOOKBACK_DAYS=45
WEEKLY_DIGEST_CRON=0 8 * * 1
WEEKLY_DIGEST_DAYS=7
WEEKLY_DIGEST_LIMIT=0
WEEKLY_DIGEST_TRANSLATION_LANGUAGE=zh
WEEKLY_DIGEST_DIR=data/digests
WEEKLY_DIGEST_TRANSLATE_MISSING_LIMIT=20
WEEKLY_DIGEST_ENRICH_MISSING_LIMIT=50
WEEKLY_DIGEST_EMAIL_ENABLED=true
